<div class="body">
    <div class="container">
        <div class="col-6">
          <img
            src="forgotPassword.jpg"
            alt="Forgot Password"
            class="forgot-password-img"
          />
        </div>
        <div class="form-box">
          <h2>Forgot Password?</h2>
          <p>Please enter your email to reset your password</p>
          <form (submit)="onSubmit()" #forgotPasswordForm="ngForm">
            <div class="input-group">
              <input
                type="email"
                name="email"
                required
                [(ngModel)]="email"
                #emailInput="ngModel"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$"
                />
              <label>Email</label>
              <div
                *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
                class="alert alert-danger w-100"
              >
                <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
                <div *ngIf="emailInput.errors?.['pattern']">
                  Please enter a valid email address.
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="submit-btn"
              [disabled]="forgotPasswordForm.invalid"
            >
             Send Reset Link  
            </button>
          </form>
        </div>
      </div>
      
</div>