<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- Profile Card Section -->
    <div class="container-fluid col-lg-3 col-md-4 col-sm-6 col-12 card shadow m-2 align-items-center" style="height: 600px;">
        <!-- Profile Image -->
        <img class="card-img-top shadow-4-strong img-fluid m-2" src="https://plus.unsplash.com/premium_photo-1676998931123-75789162f170?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Service Image"  alt="Profile Image" />
      <!-- Action Buttons -->
      <div class="row justify-content-between">
        <div class="col-md-4 col-sm-12  mb-2">
          <button class="btn btn-outline-dark col-12 btn-sm">Change password</button>
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <button class="btn btn-outline-dark col-12 btn-sm" >Edit information</button>
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <a class="btn btn-outline-danger col-12 btn-sm" (click)="DeleteFreelancerBusiness()">Delete Account</a>
        </div>              
      </div>
      <!-- Profile Info -->
      <div class="text-center m-2 card-body">
        <h1>{{customerProfileInfo?.name}}</h1>
      </div>
    </div>

    <!-- Services and Requests Section -->
    <div class="col-lg-8 col-md-7 col-sm-6 col-12 card shadow m-2 align-items-center">
   
      <!-- My Requests Section -->
      <div class="container-fluid my-3">
        <h3>My Request</h3>
        @if (requests.length > 0) {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Request</th>
                            <th>Status</th>
                            <th>Freelancer</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of requests; track item.freelancerId) {
                            <tr>
                                <td>{{item.name}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.freelancerName}}</td>
                                <td>{{item.dateTime}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } @else {
            <p class="text-center">No requests</p>
        }
    </div>
    

        <!-- Pagination Controls -->
        <div class="container-fluid my-3">

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <!-- Previous button -->
            <li class="page-item" [class.disabled]="pageIndex === 1">
              <button class="page-link" (click)="onPageChange(pageIndex - 1)">Previous</button>
            </li>
            <!-- Dynamic page numbers -->
            <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="i + 1 === pageIndex">
              <button class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</button>
            </li>
            <!-- Next button -->
            <li class="page-item" [class.disabled]="pageIndex === totalPages">
              <button class="page-link" (click)="onPageChange(pageIndex + 1)">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</div>
