<div class="body">
  <div
    class="container d-flex justify-content-center align-items-center min-vh-100"
  >
    <form
      [formGroup]="SendServiceRequest"
      (ngSubmit)="onSubmit()"
      class="p-5 form-container shadow bg-light rounded"
    >
    <input type="hidden" formControlName="freelancerId" />

    <div class="mt-3">
      <label for="name" class="form-label">Name</label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Enter Name"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          SendServiceRequest.get('name')?.invalid &&
          SendServiceRequest.get('name')?.touched
        "
      >
        Name is required and should be 5-50 characters long.
      </div>
    </div>

    <!-- Price -->
    <div class="mt-3">
      <label for="price" class="form-label">Price</label>
      <input
        id="price"
        type="number"
        class="form-control"
        formControlName="price"
        placeholder="Enter Price"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          SendServiceRequest.get('price')?.invalid &&
          SendServiceRequest.get('price')?.touched
        "
      >
        Price is required.
      </div>
    </div>

    <!-- Description -->
    <div class="mt-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        id="description"
        class="form-control"
        formControlName="description"
        rows="4"
        placeholder="Enter Description"
      ></textarea>
      <div
        class="invalid-feedback"
        *ngIf="
          SendServiceRequest.get('description')?.invalid &&
          SendServiceRequest.get('description')?.touched
        "
      >
        Description is required and should be 5-300 characters long.
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn btn-success w-100 mt-3 submit-btn"
      >
      Submit Request
    </button>
  </form>
</div>
