<div class="body">
  <div class="reset-password-container">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">New Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter new password"
          [ngClass]="{ 'is-invalid': submitted && password?.errors }"
        />
        <div *ngIf="submitted && password?.errors" class="invalid-feedback">
          <span *ngIf="password?.errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="password?.errors?.['pattern']"
            >Must contain characters, numbers, and special characters.</span
          >
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
          [ngClass]="{ 'is-invalid': submitted && confirmPassword?.errors }"
        />
        <div
          *ngIf="submitted && confirmPassword?.errors"
          class="invalid-feedback"
        >
          <span *ngIf="confirmPassword?.errors?.['required']"
            >Confirm Password is required.</span
          >
          <span *ngIf="confirmPassword?.errors?.['mustMatch']"
            >Passwords must match.</span
          >
        </div>
      </div>

      <button type="submit" class="btn-submit">Reset Password</button>
    </form>
  </div>
</div>
